{% extends 'base.html.twig' %}

{% block title %}Nouveau billet{% endblock %}

{% block body %}
    <h1>Créer un nouveau billet</h1>

    {{ include('billet/_form.html.twig') }}

    <a href="{{ path('app_billet_index') }}">Revenir en arrière</a>
{% endblock %}
