{% extends 'base.html.twig' %}

{% block title %}Edit Artiste{% endblock %}

{% block body %}
    <h1>Modifier un Artiste</h1>

    {{ include('artiste/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_artiste_index') }}">Revenir en arrière</a>

    {{ include('artiste/_delete_form.html.twig') }}
{% endblock %}
