{% extends 'base.html.twig' %}

{% block title %}Nouvel Artiste{% endblock %}

{% block body %}
    <h1>Créer un nouvel artiste</h1>

    {{ include('artiste/_form.html.twig') }}

    <a href="{{ path('app_artiste_index') }}">Revenir en arrière</a>
{% endblock %}
