{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}

{% block body %}
    <h1>Modifier un client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_client_index') }}">Revenir en arrière</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
