{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <h1>Créer un nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">Revenir en arrière</a>
{% endblock %}
